In [2]:
import pandas as pd

In [22]:
covid_data = pd.read_csv("covid_19_country_wise_latest.csv")

In [24]:
covid_data[0:5]

,Unnamed: 0,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,0,Afghanistan,36263,1269,25198,9796,106.0,10.0,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,1,Albania,4880,144,2745,1991,117.0,6.0,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,2,Algeria,27973,1163,18837,7973,616.0,8.0,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,3,Andorra,907,52,803,52,10.0,0.0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,4,Angola,950,41,242,667,18.0,1.0,0,4.32,25.47,16.94,749,201,26.84,Africa

In [26]:
covid_data.set_index("Unnamed: 0", inplace=True)

In [28]:
covid_data.head()

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
Unnamed: 0,,,,,,,,,,,,,,,
0,Afghanistan,36263,1269,25198,9796,106.0,10.0,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117.0,6.0,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616.0,8.0,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10.0,0.0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18.0,1.0,0,4.32,25.47,16.94,749,201,26.84,Africa

In [30]:
covid_data.index.name = "index"

In [32]:
covid_data

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
index,,,,,,,,,,,,,,,
0,Afghanistan,36263,1269,25198,9796,106.0,10.0,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117.0,6.0,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616.0,8.0,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10.0,0.0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18.0,1.0,0,4.32,25.47,16.94,749,201,26.84,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,West Bank and Gaza,10621,78,3752,6791,152.0,2.0,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean
183,Western Sahara,10,1,8,1,0.0,0.0,0,10.00,80.00,12.50,10,0,0.00,Africa
184,Yemen,1691,483,833,375,10.0,4.0,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean
185,Zambia,4552,140,2815,1597,71.0,1.0,465,3.08,61.84,4.97,3326,1226,36.86,Africa
186,Zimbabwe,2704,non,542,2126,192.0,2.0,24,1.33,20.04,6.64,1713,991,57.85,Africa

In [34]:
# covid_data.columns = ["_".join(x.split()) for x in covid_data.columns]

In [36]:
covid_data.columns

Index(['Country/Region', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'New cases', 'New deaths', 'New recovered', 'Deaths / 100 Cases',
       'Recovered / 100 Cases', 'Deaths / 100 Recovered',
       'Confirmed last week', '1 week change', '1 week % increase',
       'WHO Region'],
      dtype='object')

In [38]:
# def convert_white_space_into_underscore (string=""):
#     return "_".join(string.split())

# covid_data.columns = [convert_white_space_into_underscore(x) for x in covid_data.columns]

In [57]:
def convert_column_space_into_underscore(df):
    df.columns=df.columns.str.replace(" ", "_")
    return df

covid_data = convert_column_space_into_underscore(covid_data)

In [59]:
covid_data.columns

Index(['Country/Region', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'New_cases', 'New_deaths', 'New_recovered', 'Deaths_/_100_Cases',
       'Recovered_/_100_Cases', 'Deaths_/_100_Recovered',
       'Confirmed_last_week', '1_week_change', '1_week_%_increase',
       'WHO_Region'],
      dtype='object')

In [63]:
covid_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 187 entries, 0 to 186
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country/Region          187 non-null    object
 1   Confirmed               187 non-null    int64
 2   Deaths                  187 non-null    object
 3   Recovered               187 non-null    int64
 4   Active                  187 non-null    int64
 5   New_cases               177 non-null    float64
 6   New_deaths              177 non-null    float64
 7   New_recovered           187 non-null    int64
 8   Deaths_/_100_Cases      187 non-null    float64
 9   Recovered_/_100_Cases   187 non-null    float64
 10  Deaths_/_100_Recovered  187 non-null    float64
 11  Confirmed_last_week     187 non-null    int64
 12  1_week_change           187 non-null    int64
 13  1_week_%_increase       187 non-null    float64
 14  WHO_Region              187 non-null    object
dtypes: float64(6), int64(6), object(3)
memory usage: 23.4+ KB

In [99]:
covid_data.Deaths.replace("non", "0", inplace=True)

In [109]:
covid_data.Deaths=covid_data.Deaths.astype(int)

In [123]:
covid_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country/Region          187 non-null    object
 1   Confirmed               187 non-null    int64
 2   Deaths                  187 non-null    int32
 3   Recovered               187 non-null    int64
 4   Active                  187 non-null    int64
 5   New_cases               177 non-null    float64
 6   New_deaths              177 non-null    float64
 7   New_recovered           187 non-null    int64
 8   Deaths_/_100_Cases      187 non-null    float64
 9   Recovered_/_100_Cases   187 non-null    float64
 10  Deaths_/_100_Recovered  187 non-null    float64
 11  Confirmed_last_week     187 non-null    int64
 12  1_week_change           187 non-null    int64
 13  1_week_%_increase       187 non-null    float64
 14  WHO_Region              187 non-null    object
dtypes: float64(6), int32(1), int64(6), object(2)
memory usage: 21.3+ KB

In [159]:
covid_data["Country/Region"].unique().size

187

In [183]:
covid_data[covid_data.duplicated(subset=["Country/Region"])]

Empty DataFrame
Columns: [Country/Region, Confirmed, Deaths, Recovered, Active, New_cases, New_deaths, New_recovered, Deaths_/_100_Cases, Recovered_/_100_Cases, Deaths_/_100_Recovered, Confirmed_last_week, 1_week_change, 1_week_%_increase, WHO_Region]
Index: []

In [187]:
covid_data.drop_duplicates(subset=["Country/Region"], inplace=True)

In [189]:
covid_data[covid_data.Deaths==35]

,Country/Region,Confirmed,Deaths,Recovered,Active,New_cases,New_deaths,New_recovered,Deaths_/_100_Cases,Recovered_/_100_Cases,Deaths_/_100_Recovered,Confirmed_last_week,1_week_change,1_week_%_increase,WHO_Region
18,Benin,1770,35,1036,699,0.0,0.0,0,1.98,58.53,3.38,1602,168,10.49,Africa
178,Uruguay,1202,35,951,216,10.0,1.0,3,2.91,79.12,3.68,1064,138,12.97,Americas